<div>
  <!-- segmented button -->
  <div class="grid grid-cols-2 rounded-full border-solid border border-black divide-x divide-black w-80">
    <a href="<%= workouts_path %>" class="flex justify-center space-x-2 items-center bg-yellow-300 rounded-l-full">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
      <p class="text-lg">Workout</p>
    </a>
    <a href="<%= nutrition_index_path %>" class="flex justify-center space-x-2 items-center">
      <p class="text-lg">Nutrition</p>
    </a>
  </div>

  <!-- workouts list -->
  <div class="mt-6 flex space-x-2">
    <div class="w-32 py-3 flex items-center justify-center rounded-lg border border-teal-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
      <p class="text-lg text-teal-600">PPL</p>
    </div>
    <div class="bg-yellow-400 w-32 py-3 flex items-center justify-center rounded-lg border border-yellow-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
      <p class="text-lg text-white">5x5</p>
    </div>
    <div class="w-32 py-3 flex items-center justify-center rounded-lg border border-dashed border-teal-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
      <p class="text-lg text-teal-600">Add plan</p>
    </div>
  </div>
  
</div>
