<div>
  <!-- segmented button -->
  <div class="grid grid-cols-2 rounded-full border-solid border border-black divide-x divide-black w-80">
    <a href="<%= workouts_path %>" class="flex justify-center space-x-2 items-center bg-yellow-300 rounded-l-full">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
      <p class="text-lg">Workout</p>
    </a>
    <a href="<%= nutrition_index_path %>" class="flex justify-center space-x-2 items-center">
      <p class="text-lg">Nutrition</p>
    </a>
  </div>
</div>
