<turbo-frame class="" id="show_nutrition_plan">
  <h1 class="font-bold text-lg">Daily Calorie Goal: <%= @tdee %></h1> <br>
  <div class="w-[600px]">
    <p><%= @nutrition.content.gsub(/Day/, "<br><br>Day").html_safe %></p>
  </div>
</turbo-frame>