<div>
  <!-- segmented button -->
  <div class="grid grid-cols-2 rounded-full border-solid border border-black divide-x divide-black">
    <div class="flex justify-center space-x-2 items-center bg-yellow-300 rounded-l-full">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
      <p class="text-lg">Workout</p>
    </div>
    <div class="flex justify-center space-x-2 items-center">
      <p class="text-lg">Nutrition</p>
    </div>
  </div>

  <h1 class="font-bold text-4xl text-yellow-400 pt-4">Genki#index</h1>
  <p>Find me in app/views/genki/index.html.erb</p>
</div>
