<div>
  <h1 class="font-bold text-3xl mb-1">Stats</h1>
  <p class="mb-8 text-gray-700">Enter your basic details below. We will utilize this information to create your workout and nutrition plans.</p>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-24 w-[1000px]">
    <!-- Weight card -->
    <div class="bg-gray-100 w-64 h-38 rounded-md p-3">
      <h1 class="text-md text-gray-600">Weight</h1>
      <p class="mt-2 text-lg">75 kg</p>
      <%= render "form", stat: @stat, unit: 'kg', name: 'weight' %>
    </div>

    <!-- Height card -->
    <div class="bg-gray-100 w-64 h-38 rounded-md p-3">
      <h1 class="text-md text-gray-600">Height</h1>
      <p class="mt-2 text-lg">175 cm</p>
      <%= render "form", stat: @stat, unit: 'cm', name: 'height' %>
    </div>

  <div>
</div>
